language: go

go:
  - 1.4.2
install:
  - go get github.com/tools/godep
  - godep restore
  - bundle install
script:
  - go test -v ./...
  - bundle exec rake
deploy:
  provider: heroku
  api_key:
    secure: s/z6/Ro65lH12u25dITb8LMZAYQwZIqnoh1WYOkoqnGhZI7f+QUZwu2LFtFNlm3hd3c5kwgS9INZNORt8psmreInuXiJIamrpVjckBM9ASK0r55EUuZ9i4Uj/DmM8kpiT7VtayMD7pBuGEzXmnLW81RuMlJXaHq67pK5n1A6oVU=
  app: staging-locator-pensionwise
  on:
    repo: guidance-guarantee-programme/locator
